{% extends "base.html" %}
    
{% block content %}    
          
        <div class="row">
            <div class="col-2 about-text">
                <h1>About me</h1>
            </div>                     
            <div class="row">
                <div class="col-6">
                    <div class="col-6 first-page-text">
                        <p> I have a background in urban planning and environmental studies/work. I grew up in the Bay Area and went
                            to school in Sacramento. When not trying to find a way to survive Bay Area cost of living I like to
                            travel, work out, play with my dog, eat, sleep, and read.</p>
                    </div>
                </div>

            </div>
        </div>

        </div>
</body>

</html>
{{ content|safe }}
{% endblock content %}
