{% extends "base.html" %}
    
{% block content %} 
        <div class="row">
            <div class ="row">
                <div class="=col-4">
                    <div class="email-link">
                    <p>  Email me at: <a href = seonis.n@gmail.com class="email-text"> misternish@gmail.com</a> </p>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-6">
                <p> Or submit your message below:</p>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
            </div>
        </div>

        </div>
</body>

</html>
{{ content|safe }}
{% endblock content %}
