{% extends "base.html" %}
    
{% block content %}    
          
        <div class="row">
            <div class="col-6">
                <h1>Welcome!</h1>
            </div>                     
            <div class="row">
                <div class="col-6">
                    <div class="first-page-text">
                        <p>My name is Nishant Seoni and I am a novice programmer currently enrolled at Kickstart
                            Academy.
                            I hope to develop skills that will allow me to make a career change and do something
                            more creative. And also make a less jank website.</p>
                           
                    </div>
                </div>

            </div>
        </div>

       
{% endblock content %}
